application_home: /home/vagrant/hyrax
fits_version: 1.2.0
fits_install_path: /usr/local
ansible_target: localhost
ruby_version: 2.6.4
rails_version: 5.2
ffmpeg_version: 3.3.4
config_path: "{{ application_home }}/config" 
