application_home: /var/sufia
druw_home: /home/vagrant/druw
fits_version: 0.8.5
install_path: /usr/local/bin
ansible_target: localhost
#ansible_target: demoserver
#rails_version: 5.0.0.1
#sufia_version: "branch: 'master'"
rails_version: 4.2.7.1
sufia_version: "tag: 'v7.2.0'"
#sufia_version: "ref: '3d06cc0a705c16f4a645607321f7c9dd053f34c3'"
config_path: "{{ application_home }}/config" 
