default: &default
  user: fedoraAdmin
  password: fedoraAdmin
  url: "http://{{ tcdev_name }}:{{ tcdev_port }}/fedora/rest"
development:
  base_path: /dev
  <<: *default
test: &TEST  
  base_path: /test
  <<: *default
production:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://{{ tcprod_name }}:{{ tcprod_port }}/fedora/rest
  base_path: /prod
